name: "Deploy to Neocities"
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: "Deploy to Neocities"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm" # Changed from 'yarn' to 'npm'
      
      # We use 'npm ci' for a clean install from the lockfile
      - run: npm ci 
      
      # We use 'npm run build' to trigger the build script
      - run: npm run build 
      
      - uses: bcomnes/deploy-to-neocities@v1
        with:
          api_token: ${{ secrets.NEOCITIES_TOKEN }}
          dist_dir: "_site/"
          cleanup: true
